<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/style.css"> 
    <title>Editor de Archivos Planos</title>
</head>

<body>
    <div class="container">
        <h1>EDITOR DE ARCHIVOS PLANOS</h1>
        <h2>Cargar archivo:</h2>
        <div class="file-upload">
            <form action="/" method="post" enctype="multipart/form-data">
                <label id="custom-file" class="custom-file-upload">
                    <input type="file" name="archivo" accept=".txt" style="display: none;" onchange="updateFileName(this)">
                    <span id="select-file-text">Seleccionar archivo</span>
                    <span id="file-name" style="display:none;"></span>
                </label>
                <input class="buttons" type="submit" value="CARGAR"> 
            </form>
        </div>

        <div class="file-editor">
            <h2>Contenido del archivo:</h2>
            <form action="/guardar" method="post">
                <textarea name="contenido" rows="10" cols="50"><% content %></textarea><br>
                <div class="type-file">
                    <h2>Tipo de archivo:</h2>
                    <select class="selection_type" name="tipo_archivo">
                        <option value="txt">txt</option>
                        <option value="csv">csv</option>
                    </select> 
                </div>
                
                <div class="file-editor" style="display: flex; align-items: center;">
                    <input placeholder="NOMBRE DEL ARCHIVO" type="text" name="nombre_archivo" id="nombre_archivo_input" oninput="limitarPunto()">
                    <input type="submit" class="buttons" value="GUARDAR" id="save">
                </form>
                <form action="/limpiar" method="GET">  
                    <input id="reset" class="buttons" type="submit" value="LIMPIAR DATOS ">
                </form>
            </div>
            
            <h4 id="mensaje_textarea" rows="4" cols="50" readonly><% mensaje %></h4>
        </div>
    </div>
    
    <script> 
        function updateFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById("select-file-text").style.display = "none";
            document.getElementById("file-name").innerText = fileName;
            document.getElementById("file-name").style.display = "inline-block";
            document.getElementById("custom-file").style.backgroundColor = "#45a049";
            document.getElementById("file-name").style.color = "white";
        }
        function limitarPunto() {
            var input = document.getElementById('nombre_archivo_input'); 
            input.value = input.value.replace(/\./g, '');
        } 
    </script>
</body>

</html>